CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_OPENSSL_WITH_COMPRESSION=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_NPN=y
CONFIG_PACKAGE_adbyby=m
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_boost=m
CONFIG_PACKAGE_boost-date_time=m
CONFIG_PACKAGE_boost-program_options=m
CONFIG_PACKAGE_boost-system=m
CONFIG_PACKAGE_chinadns-ng=m
CONFIG_PACKAGE_coreutils-nohup=m
CONFIG_PACKAGE_dns2socks=m
CONFIG_PACKAGE_haproxy=m
CONFIG_PACKAGE_ipt2socks=m
CONFIG_PACKAGE_kmod-tun=y
# CONFIG_PACKAGE_kmod-usb-ledtrig-usbport is not set
# CONFIG_PACKAGE_kmod-usb3 is not se
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libev=m
CONFIG_PACKAGE_libiconv-full=y
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_libmbedtls=m
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-passwall=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_simple-obfs=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_v2ray-plugin=y
CONFIG_PACKAGE_luci-app-polipo=m
CONFIG_PACKAGE_luci-app-softethervpn=y
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-polipo-zh-cn=m
CONFIG_PACKAGE_luci-i18n-softethervpn-zh-cn=y
CONFIG_PACKAGE_polipo=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_simple-obfs=m
CONFIG_PACKAGE_softethervpn5-bridge=y
CONFIG_PACKAGE_softethervpn5-client=y
CONFIG_PACKAGE_softethervpn5-libs=y
CONFIG_PACKAGE_softethervpn5-server=y
CONFIG_PACKAGE_tcping=m
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_trojan=m
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_v2ray=m
CONFIG_PACKAGE_v2ray-plugin=m
CONFIG_TARGET_ROOTFS_CPIOGZ=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-usb-core=y
